﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contactenos</title>
</head>
<body>
    <div> 
        <p> Anggie Paola Roncancio Ortiz
        <br>Correo: anggieroncancio@gmail.com
        <br>telefono: 3133404587
        <br>Codigo: 0172009459
        </p>
    </div>
</body>
</html>
